name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Build
      #   uses: wangyoucao577/go-release-action@v1.20
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     goos: linux
      #     goarch: amd64
      #     project_path: ./cmd/bntp

      - name: go-semantic-release
        uses: go-semantic-release/action@v1.15.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-file: CHANGELOG.md
